/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.react-flow__node {
  padding: 0 !important;
  width: fit-content !important;
  min-width: unset !important;
}


